.first{
  background-image: url('./Anime\ Background_2.gif');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  height:100vh;
}

.mainFrame{
  background-image: url("./comingsoon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 55%;
  width: 55%;
  top:20%;
  margin:0 auto;  
  position: relative;
}

@media screen and (max-width: 600px) {
  div.mainFrame{
    height: 75%;
    width: 75%;
  }
}